<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jinja operationals tags</title>
</head>
<body>
    {% if a < b %}
        <h2 style="color: cornflowerblue;"><marquee>inside if statement</marquee></h2>
        <h2 style="color:crimson">{{a}}</h2>
        <h1 style="margin: auto;color:blueviolet">this is if condition by using jinja tag</h1>
    {% endif %}
</body>
</html>