<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>operational tag by using jina tag</title>
    <style>
        body
        {
            background-color: blueviolet;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>this is if else conditional statement</h1>
    {% if a > b %}
        <h2>inside if block</h2>
        <h2>{{a}} is greater than {{b}}</h2>
    {% else %}
        <h2>inside else block</h2>
        <h2>{{b}} is greater than {{a}}</h2>
    {% endif %}
</body>
</html>